$animation-length: 6s;

.searching-student {
  margin-top: 2rem;
  overflow: hidden;
}

.participant-animation-items {
  white-space: nowrap;
  float: right;
}

.participant-chosen-student-avatar-circle {
  width: 13.750rem;
  height: 13.750rem;
  margin: auto;
  border-radius: 50%;
  overflow: hidden;
}

.current-student-image {
  border-radius: 50%;
  // border: solid $participant-color 0.6rem;
  width: 15rem;
  height: 15rem;
  background-color: white;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -15%);
}

.participant-image-container {
  text-align: center;
  max-width: 100%;
  min-height: 100%;
  display: table-cell;
  vertical-align: middle;
}

.participant.play {
  text-align: center;

  .current-student {
    font-family: Alef;
    font-style: italic;
    font-size: 1.5rem;
    margin-top: 3rem;
  }
}

.participant-animation-item {
  position: relative;
  display: inline-block;
  margin-left: 0.75rem;
  animation: animation-keyframes $animation-length;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes animation-keyframes {
  0% {
    left: 0;
  }
  100% {
    left: 9.2 * $half-avatar-width;
  }
}

@media only screen and (max-width: $smart-phone-max-screen-width) and (orientation: portrait),
screen and (max-width: $smart-phone-max-screen-height) and (orientation: landscape) {
  .participant-animation-items-container {
    margin-top: 0;
  }

  .current-student-image {
    width: 12rem;
    height: 12rem;
  }

  .participant-animation-item {
    width: 7rem;
    height: 7rem;
  }

  .participant-animation-item svg image {
    width: 7rem;
    height: 7rem;
  }
}

@media only screen and (max-width: $smart-phone-max-screen-height) and (orientation: landscape) {
  .current-student-image {
    width: 7.5rem;
    height: 7.5rem;
  }

  .participant-animation-item {
    width: 5rem;
    height: 5rem;
  }

  .participant-animation-item svg image {
    width: 5rem;
    height: 5rem;
  }

  .participant.play {
    .current-student {
      margin-top: 2rem;
    }
  }
}
