<view class="light-view flex-view poll">
  <activity-nav-bar></activity-nav-bar>
  <nav class="activity-buttons-nav padded">
    <activity-publish-button activity="$ctrl.activity" class="primary"
                             type="poll" specific-data="$ctrl.getSpecificData()"
                             is-dirty="$ctrl.form.$dirty"
                             is-valid="$ctrl.form.$valid" pre-publish="$ctrl.prePublish()"
                             post-publish="$ctrl.postPublish()"></activity-publish-button>
  </nav>
  <content class="padded" scrollable="true">
    <form class="narrow" name="$ctrl.form">
      <poll-preview-content is-required="false" form="$ctrl.form" activity="$ctrl.activity"></poll-preview-content>
    </form>
  </content>

</view>
