activity-publish-button {
  svg {
    bottom: .1rem;
    left: .2rem;
  }

  .standby svg {
    width: 3.313rem;
    height: 3.375rem;
  }

  .pressed svg {
    width: 3.5rem;
    height: 3.563rem;
  }
}
