activity-save-button {
  .standby svg {
    left: 0.4rem;
    top: -0.3rem;
    width: 2.813rem;
    height: 3.438rem;
  }

  .pressed svg {
    left: 0.5rem;
    top: -0.3rem;
    width: 2.688rem;
    height: 3.375rem;
  }
}
