<view class="light-view flex-view url">
  <activity-nav-bar></activity-nav-bar>

  <activity-enrich-preview-footer activity="$ctrl.activity" type="url" get-specific-data="$ctrl.getSpecificData()" is-valid="$ctrl.form.$valid"></activity-enrich-preview-footer>

  <content class="padded" scrollable=true>
    <form class="narrow" name="$ctrl.form">
      <div ng-repeat="url in $ctrl.activity.urls">
        <url-preview-content activity="url" default-url="$ctrl.defaultUrl" is-required="false" form="$ctrl.form"></url-preview-content>
        <button class="poll-option-delete" ng-click="$ctrl.onDelete($index)"
                ng-disabled="$ctrl.canDelete()" style="position: relative;top: -102px;left: 375px;">
          <ng-include class="delete-icon" src="'images/x-icon.png'"></ng-include>
        </button>
      </div>
      <preview-header id="bottom" type="ideas" is-required="false" field-name="title" activity="$ctrl.activity.sumarizeActivity"
                      ng-if="$ctrl.activity.sumarizeActivity" form="$ctrl.form"></preview-header>
    </form>

    <button class="url-add-answer" ng-click="$ctrl.addUrl($event)">{{'add_url' | translate}}</button>
  </content>
</view>
