.manage-password-temp {
  margin-top: 1.75rem;
  text-align: center;
  font-family: Alef;
  font-style: italic;
  color:  #0d2c35;
  font-size: 1rem;
}

.manage-password-new {
  font-family: Alef;
  color:  $main-color;
  font-size: 2rem;
  font-weight: 400;
  text-align: center;
}

.manage-student-password-footer {
  text-align: center;
  margin-top: 1.75rem;
}
