.manage-reset-password-text {
  font-family: Alef;
  font-style: italic;
  color: #0d2c35;
  font-size: 1.307rem;
  text-align: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.manage-reset-password-name {
  color: $main-color;
}
