.manage-remove-student-text {
  font-family: Alef;
  font-style: italic;
  color:  #0d2c35;
  font-size: 1.307rem;
  text-align: center;
  max-width: 12.938rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}

.manage-remove-student-name {
  color: $main-color;
}
