.icon-x svg {
  height: 0.813rem;
  width: 0.875rem;
}

.icon-y svg {
  height: 0.813rem;
  width: 1.125rem;
}

.icon-x path {
  fill: rgba(255, 3, 86, 0.8);
}

.icon-y path {
  fill: rgba(52, 165, 63, 0.8);
}
