<div class="terms-of-use">
  <label>
    <h4>Live Rhino APPLICATION TERMS OF USE AND PRIVACY POLICY</h4>
    1. GENERAL
    1.1. Welcome to the live rhino website and its sub-domain names (the “Site”) and/or the live rhino application
    (“Application”). The Application and the Site are managed and operated by KLN EdTeach LTD Ltd. (the “Company”). “User” or
    “you” means any third party that uses the Site, the Application or receives the Services (as defined below).
    1.2. The use of the Site and the Application, including any of the content therein is subject to the following
    conditions. Please read these terms of use (“Terms of Use”) carefully, because the installation, entry or the use of
    the Site and/or the Application, or receiving the Services indicates your consent and the approval of these Terms of
    Use.
    1.3. The Company reserves the right to amend the Terms of Use at any time and at its sole discretion.
    Such changes will be effective 10 days from the date on which the updated version of these Terms of Use has been
    posted on the Site and/or the Application.
    1.4. These Terms of Use apply to the use of the Site and/or the Application via any computer, laptop or other
    communication device, such as tablets, smartphones and similar devices (the “Device(s)”).
    1.5. If you are under the age of 18, the use of the Site and/or the Application is contingent upon your
    parents’/guardian’s consent, and therefore require them to be aware and give their consent to such use, including
    the Terms of Use and privacy policy set forth herein (the “Privacy Policy”). If you or your parents or Guardian do
    not agree to these Terms of Use or the Privacy Policy please do not use the Site and the Application.
    1.6. The Site and the Application contain posts which are derived from the Users, including the possibility of
    making classifications and content categorization according to preset categories and keywords (“Classifications”).
    The Company shall not be liable for any errors, omission of information and/or inaccuracies that may occur due to
    use of the aforementioned Classifications.
    1.7. The Company reserves the right to change the structure, appearance and the service of the Site and/or the
    Application, their scope and availability, without the need to notify the user in advance. By their nature, such
    changes may entail malfunctions. It is hereby agreed that Users will have no claim or demand against the Company
    and/or its representatives in respect of the implementation of such changes and/or resulting malfunctions.
    1.8. The Site and Application are solely for private use and any commercial use of the Site and/or Application,
    without the prior written consent of the Company, is strictly prohibited. The Company reserves the right to
    terminate your use of the Site and/or of the Application if you fail to comply with one or more of the conditions of
    these Terms of Use.
    1.9. This document does not derogate from the provisions of the Consumer Protection Law, 1981-5741, the ordinances
    which were enacted by it, as updated from time to time (the “Consumer Protection Law”) or any other law, as long as
    these apply to the Site and/or to the Application, except in cases where it is possible to revoke the validity of
    such sections, and such conditional revoke was performed, as part of Site activity whether explicitly or implicitly.
    2. REGISTRATION TO THE SITE AND/OR TO THE APPLICATION
    2.1. Some of the aspects of the Application, the Site (including the service of purchasing books in digital format)
    and Services, require registration and creation of an account (the “Account”). During registration you will be
    required to provide personal information such as your full name. Some of the data that you will be asked to provide
    is mandatory – i.e. you will not be able to register without providing such information. In addition to these
    details, you will be asked to choose a password which will be used to identify you, and to receive services
    (“Registration Form”). The procedures by which the Company operates in the collection and use of such information
    are listed in the Privacy Policy. You agree to provide only true, accurate and complete details about you, as
    requested for in the Registration Form. You agree to update the Company in the event of a change in any detail that
    you have provided to the Company. The Company (or its representatives) may require the renewal of the registration
    and/or renewal of your information in its sole discretion. You are fully responsible for keeping your password
    confidential and undertake to notify the Company immediately of any unauthorized use of your password and/or any
    breach of your Account. You shall bear complete and sole responsibility for any activities undertaken in your
    Account. Therefore, we do not encourage you to provide your personal password with which you identify the Site
    and/or the Application, or any information related with the way your login and/or Application to any other third
    party. If you choose to share this information with any third party, you will be liable for any actions that may be
    taken under your username and password and in regards to your Account.
    2.2. In case you lose your password, you may lose substantial control over your personally identifiable information
    and you will be subject to any legally binding actions taken on your behalf. Therefore, if your password is not safe
    for any reason, you are obligated to change it immediately.
    2.3. The Company reserves the right to suspend, revoke or refuse to provide the Site, the Application or the
    Services, in any case that you provided or if the Company has reasonable grounds to believe that you provided,
    information that is not true, current or complete during registration or thereafter, without any prior notice.
    3. LICENSE FOR USE OF THE APPLICATION
    3.1. Subject to these Terms of Use, the Company hereby grants you, a revocable, limited, personal, non-exclusive,
    non assignable, non-sublicensable, internal license, to install and to use the Application on a Device that you own
    or control. The Company reserves all rights to the Application which is not stated or granted under the Terms of
    Use. It is hereby clarified that the Terms of Use grant you only a license to use the Application and does not
    constitute a sale of the Application to you in any way or manner.
    3.2. The Company may issue from time to time upgraded versions of the Application, and can electronically upgrade
    and update the version of the Application that you use. You hereby give your consent to such automatic upgrading or
    updating, and agree that these Terms of Use shall apply to all of such updates or upgrades.
    3.3. You agree not to: (i) use, modify or integrate the Site or the Application into another software, or to create
    derivative works from any part of the Application; (ii) sell, license (or sub-license), lease, assign, or transfer
    your rights under this Agreement to any other person; (iii) copy, or distribute the Application in any manner; (iv)
    disclose the results of Application’s performance, or to use these results for the development or software
    development of any competing software that you may own; (v) modify, disassemble, reverse-compile or reverse engineer
    the Application or the Site or attempt to discover the source code of the Application, (vi) remove or alter any
    identification, copyright, trademark, patent or other identifying posts, which are contained in or on the
    Application or the Site or any copy thereof; (vii) use the Company’s name, logo or its trademarks without the prior
    written consent of the the Company; and/or (viii) use the Site and/or Application to violate any applicable laws,
    rules or regulations, or for any unlawful, harmful, irresponsible, or inappropriate purpose, or in any manner that
    breaches this.
    3.4. The Application contains certain third party software (“Third Party Software”) which are subject to open source
    licenses or other licenses which require, among other things, other terms and conditions. In order that you comply
    with the terms of such license Third Party Software, please read other terms and conditions following this link:
    http://learni.net/open-source-compliance-document/ (“Third Party Licenses”). The Third Party Licenses constitute an
    integral part of these Terms of Use. By accepting these Terms of Use, you also agree to the Third Party Licenses. In
    case of a conflict between these Terms of Use and the provisions of the Third Party Licenses, the provisions in the
    Third Party Licenses will prevail.
    3.5. If you have downloaded the Application from of a third-party online application store distributor
    (“Distributor”), be aware that it is possible that the use of the Application is also subject to the terms and
    conditions of such Distributor. You hereby acknowledge that prior to the downloading the Application you had the
    option to read and understand the terms and conditions of such Distributor and agree to them. You represent and
    warrant that you are not prevented by the terms and conditions of the Distributor and/or by any relevant law from
    using the Application. If you are prevented from providing such declaration, you may not install and/or use the
    Application.
    4. USERS’ OBLIGATIONS
    The Company wants to ensure that the Site and the Application will operate in an orderly manner and the different
    contents which are uploaded to the Site or the Application will serve you in the best and safest manner. By using
    the Site and/or the Application, you shall not:
    4.1. Impersonate any person or entity, including a representative of the Company or the Distributor, and/or deliver
    any other misrepresentation or false presentation to a person or body or transmit any false material or misleading
    transmission.
    4.2. Modify, process, copy, extract information, disassemble, or reassemble the Site or the Application.
    4.3. Distribute any spam or flooding the Company’s servers in any other junk mail.
    4.4. Upload or transmit any material that contains or may contain any type of virus or other computer code designed
    to destroy, interrupt, or limit the use of all of the computers, servers, hardware and software used by the Company
    for the operation of the Site and/or the Application. In addition, operate or allow any computer application or any
    other means to run, any software as Crawlers, Robots and the like, in order to search, scan, copy, or automatically
    retrieve content from the Site and/or the Application. You may not create or use such tools to create the
    compilation, collection or data base containing content from the Site and/or the Application.
    4.5. Harm in any way the rights of copyright, trademark, or other proprietary rights which are stored in the
    database and/or in the Application, including any commercial use of the Site without the Company’s prior written
    approval.
    4.6. Place the Site or any part of it in frame of another website or as a part (mirror) from another website,
    without the Company’s prior written approval.
    4.7. Disorder in any way the actions of the Site and/or the Application.
    4.8. Collect information about other Users or sell, distribute and/or make any commercial use of the Site and/or
    Application or for any other way that might harm another person.
    4.9. Link the Site and/or Application to other websites, or upload any content that contains or might contain any
    pornographic, defamatory, discriminatory or illegal content, or content that promotes any of the above.
    4.10. You may create a link to the Site or the Application as long as the link does not display the Company or its
    affiliates, or the Distributor, in a negative, biased or offensive way. The Company shall not be liable for any
    damage resulting from a link from the Company’s Content (as defined below) and any display or publication of such
    Company’s Content in any other way. You bear full and sole responsibility for any link, display or publication of
    the Company’s Content, and undertake to indemnify the Company for any damage caused as a result.
    5. SERVICES
    The Site serves as an online platform where you can access books and content in digital format (the “Digital
    Books”). The Digital Books may be embedded on the Device using a free “app” distributed by Google PLAY for the
    Devices which is either downloaded via the Android operating system or via the AppStore for Apple’s Tablets or by
    the Chrome Webstore for laptops. In order to purchase the Digital Book you must download the Application, subject to
    your approval of the conditions stated therein. The Application allows the user to restore the Digital Books and
    transfer them to another Device, in case of a loss or a failure, and so throughout the period of acquisition by
    downloading the Application again and entering a user name and password while connecting to the Internet. The Site
    and Application provide a wide range of tools for the use of students and teachers. These services allow you to take
    part in a fun, intriguing and innovative learning experience through which you can, among other things, use tools
    for planning lessons, delivering and authoring assessment, review performance, and instruction, or additional
    services, such as but not limited to downloading the Application, a content layering tool, navigation and quick
    search of content etc. (Collectively, all Site and Application related services shall be referred to as the
    “Services”). It is hereby clarified that some Services may not be open to all Users and will be available to Users
    subject to a certain fee.
    The use of Digital Books is for personal use only. You may upload your Digital Books on more than one Device;
    however you will be unable to be “logged-on” on more than one Device at the same time. You may not copy, reproduce,
    publicly display, sell, modify, create works derived from, distribute, retransmit, publish, disclose to a third
    party or commercial use in any part and content of the Digital Books in any way or means, whether electronic,
    mechanical, optical, photographic or recording, or by any means, and any other way without the prior written consent
    of both the Company and the owner of the rights of such Digital Book (the “Publisher(s)”). Purchasing the Digital
    Books through the Site or through the Distributor shall not provide you with any copyright, trademark and other
    proprietary rights in the Digital Books.
    The description of the Digital Books and/or the content of the Digital Books are the responsibility of the Publisher
    and the Company shall not be responsible in these matters, including in the event of any discrepancy or any other
    mishap. It is hereby clarified that any Device purchased will be the sole responsibility of the purchaser.
    6. PURCHASE CANCELLATION AND THE RETURNING OF ITEMS [
    6.1. You hereby acknowledge that if you wish to cancel the purchase of a Digital Book you will be required to pay
    for the repurchase of such Digital Book via the Distributors’ website, and you hereby irrevocably waive any claim
    relating to a Digital Book which has been stored on the Device.
    6.2. The Company reserves the right, in its sole discretion, to prevent a future purchase in the Site and/or in the
    Application, temporarily or permanently, in its sole discretion, if any of the following occurs: (a) you provided
    incorrect and/or missing information; (b) in case of breach of these Terms of Use, including any anticipated breach;
    (c) non-payment for the Digital Books and/or failing to receive an approval from the credit company. [
    7. POLICY RATES
    The Digital Book price that you may be charged with for your purchase is the price indicated on the Distributor’s
    website at the time you purchased the Digital Book.
    8. TECH SUPPORT
    The Company does not provide technical support and/or any other support, including on the operation of the Site,
    Application, Services and/or use of Digital Books. However, Users can contact the technical support call center at:
    03-6506050.
    9. NO REPRESENTATIONS
    9.1. THE COMPANY PROVIDES THE SITE, APPLICATION, ANY COMPANY’S CONTENT (AS DEFINED IN SECTION 10 BELOW) AND THE
    THIRD PARTY CONTENT ON AN “AS IS” BASIS, AND DOES NOT PROVIDE ANY WARRANTY, WHETHER EXPRESS OR IMPLIED, INCLUDING
    BUT NOT LIMITED TO IMPLIED WARRANTIES OF MERCHANTABILITY, TITLE, FITNESS FOR A PARTICULAR PURPOSE, AND
    NON-INFRINGEMENT .
    9.2. The Site and/or the Application may allow the User to download Digital Books; nevertheless, the Company is not
    responsible for any damages that may be caused by such download and/or due to any use of the Digital Books for any
    reason, including hardware or software problems that may occur to the Devices; Errors or any content errors; Use of
    any information provided to the Company from the User such as passwords; Data Security of all types; Cessation of
    the Company’s business activity; Copyright infringement by a third party.
    You agree that you will not have any claim or demand against the Company in respect of any of the above. The use of
    the Site, the Application, and the Digital Books is your sole and complete responsibility.
    9.3. The Company does not warrant that the use of the Application, the Services and the Site will not be
    uninterrupted or provided continuously without breaks, error-free or will meet your requirements. The Company does
    not warrant that the Services will continue to be offered, and the Services may be denied without providing you
    prior notice.
    10. LIMITATION OF LIABILITY
    TO THE FULLEST EXTENT PERMISSIBLE BY LAW, THE COMPANY SHALL NOT BE LIABLE FOR ANY INDIRECT, EXEMPLARY, SPECIAL,
    CONSEQUENTIAL, OR INCIDENTAL DAMAGES OF ANY KIND, OR FOR ANY LOSS OF DATA, REVENUE, PROFITS OR REPUTATION, ARISING
    UNDER THESE TERMS OF USE OR OUT OF YOUR USE OF, OR INABILITY TO USE, THE SITE, THE APPLICATION, THE SERVICES, THE
    COMPANY’S CONTENT, THE THIRD PARTY CONTENT OR THE DEVICES EVEN IF THE COMPANY HAS BEEN ADVISED IN ADVANCE OF THE
    POSSIBILITY OF SUCH DAMAGES. Some jurisdictions do not allow the limitation or exclusion of liability for incidental
    or consequential damages, so the above limitations may not apply to you.
    IN NO EVENT SHALL THE AGGREGATE LIABILITY OF THE COMPANY OR ITS OFFICERS, MANAGERS, EMPLOYEES, REPRESENTITIVES,
    SHAREHOLDERS OR ANY PERSON OF THE COMPANY’S BEHALF, FOR ANY DAMAGES ARISING UNDER THESE TERMS OF USE OR OUT OF YOUR
    USE OF, OR INABILITY TO USE, THE SITE THE APPLICATION, THE SERVICES, THE COMPANY’S CONTENT, THE THIRD PARTY CONTENT
    OR THE DEVICES, EXCEED THE TOTAL AMOUNT OF FEES, IF ANY, PAID BY YOU TO COMPANY FOR USING THE SITE OR THE
    APPLICATION DURING THE SIX (6) MONTHS PRIOR TO BRINGING SUCH CLAIM.
    THE USER HEREBY APPROVES THAT THE COMPANY HAS ACCEPTED TO CONTACT THE USER BASED ON THIS LIMITATION OF LIABILITY AND
    THE COMPANY RELIES UPON SUCH APPROVAL.
    11. INTELLECTUAL PROPERTY
    11.1. Except for the Digital Books, all the information which is provided on the Site and/or on the Application by
    the Company (“Company’s Content”) is the exclusive property of the Company and all information provided on the Site
    and/or Application by a third party, such as the Digital Books, (“Third Party Content”) is the exclusive property of
    such third party (“Owner(s)”) and the User may not consider the Company’s Content and Third Party Content which is
    provided to it under the Services or the Application, as implying a grant to the User of any license or any other
    intellectual property right to such Company’s Content or Third Party Content. The User may not copy or publish the
    Company’s Content or Third Party Content without the explicit prior written consent of the Company or the Owner, as
    applicable.
    11.2. It is hereby clarified and emphasized that all ownership rights and intellectual property rights (including
    all copyrights, patent rights, trade secrets and trademarks) regarding the Site, the Application, Company’s Content
    or Third Party Content, including web design and the Application design, their trademarks are reserved to the
    Company or the Owners. In addition, you may not make any changes, or copy, distribute, transmit, publicly display,
    publicly perform, reproduce, alter, transform, create derivative works from, publish, sell, rent or give to third
    parties, whether through you or through third party, any part of the Site, the Application, the Company’s Content
    and/or the Third Party Content, in any way or means, whether electronic, mechanical, optical, photographic or
    recording, or by any means, without the prior written consent of the Company.
    11.3. The Company does not claim ownership of the content you post on the Site and/or through the Application (the
    “User Content”). Nevertheless, when you submit User Content to be posted on the Site and/or using the Application
    you confirm that by post such User Content, you state that you own all rights therein (including moral rights) and
    that by posting the User Content you do not violate any right of any third parties, including under the Privacy
    Protection Law, 1981-5741 and/or the Copyright Law 2007-5767 and/or Defamation Law1965-5725 and/or under any other
    applicable law. If you are not the author or the holder of the rights in the User Content that you post, you confirm
    that you have permission from the lawful owner of the rights to post such content on the Site or use such content as
    set forth below.
    11.4. you provide the Company with a –royalty free, worldwide and perpetual license to copy, reproduce, distribute,
    market, make available, arrange, edit, translate and otherwise use the User Content at its sole discretion, on the
    Site and/or the Application, in print, digital media, including other websites and other applications and you shall
    have no demand and/or claim against the Company in connection with the use of your User Content.
    11.5. By submitting information to share with some of your contacts, yougive the Company a royalty free, worldwide
    and perpetual, license to use to those contacts that you have selected, and you shall have no claim and/or claim
    against the Company in connection with the use of User Content you submitted via the Site or through the Application
    by it, as aforesaid.
    11.6. We take claims of copyright infringement seriously. We will respond to notices of alleged copyright
    infringement that comply with applicable law. If you believe any materials accessible on or from the Site, the
    Digital Books or the Application infringes your copyright, you may request their removal (or access thereto) by
    submitting written notification to the following address: support@leari.net.
    12. PRIVACY POLICY
    12.1. The Company respects the privacy of the Users. This section will guide you through the Privacy Policy which
    applies for the Site and for the use of the Application. This section reviews, among other things, how the Company
    uses personal information it collects or that is provided to it by Users while using the Site and/or the
    Application.
    12.2. You agree that the Company may use personally identifiable information about you to enable you to use the
    Application, the Site, and the Services, to improve the Services and in order to contact you, if needed.
    12.3. In order to provide the Services the Company receives personal information from schools, local authorities or
    school chains about students belonging to the same schools and from various management systems of those schools.
    This information includes lists of students and information about them such as their classes, groupings and trends,
    books used by, tutoring questions, grades and teacher evaluations. Such information would be exposed only to the
    student (including parents and legal guardians) who is a User of the Site and/or the Application and the Company
    will use such information for the provision of the Services. Although we advise those schools to obtain explicit
    permission to send us personal information of those students for the purposes specified in this document, the
    Company cannot check or enforce such approval procedure.
    12.4. Upon your registration to the Site and/or to the Application and your explicit consent to receive advertising
    content, the Company will be entitled to occasionally send you information regarding Services, as well as marketing
    and advertising, whether it is information which it publishes itself whether it is information obtained for purposes
    from other advertisers. This information will be sent to your Device and/or other e-mail address that you provide
    us. If you do not wish to receive such commercial information, you may, at any time, “opt out” and stop receiving
    the aforesaid commercial information by notifying the Company on your refusal to accept any mail from the Site, or
    as specified in the message that you shall receive.
    12.5. When you use the Site and/or the Application information is collected about you. Some of the information
    identifies you personally - this is the information you provide knowingly, as mentioned above (“Personal
    Information”). Some information does not identify you personally and is not saved along with your details - this is
    statistical information, which includes, for instance, the pages that you have viewed and the Internet address (IP)
    from which you logged on to the Site (“Statistical Information”). The Company may deliver Statistical Information
    about you to third parties. Such Statistical Information that will be communicated to third parties will not
    identify you personally.
    12.6. The Company takes great importance to maintaining your privacy and follows generally accepted industry
    standards to properly maintain and protect the Personal Information that it collects and that is provided by you.
    However, no method of transmission over the Internet, or method of electronic storage, is 100% secure. Therefore,
    while we strive to use commercially reasonable means to protect Personal Information, we cannot guarantee its
    absolute security.
    12.7. By posting User Content that will be shared to all other Users, or with your certain contacts, you acknowledge
    that your user name will be exposed to the recipients of such User Contents. The Company is not responsible for any
    use by a third party of the User Content shared by you.
    12.8. Company will avoid as much as possible providing Personal Information to third parties except in the
    following:
    12.8.1. When the Company finds that your actions on the Site and/or on the Application violate the Terms of Use;
    12.8.2. When the Company finds that your actions on the Site and/or on the Application are executed to perform any
    kind of scam or are foreseen as illegal acts or attempt to perform such operations;
    12.8.3. If the Company would be required to do so by a legal requirement and/or a court order directing the Company
    to provide the Personal Information;
    12.8.4. If the Company is facing the threat of legal proceedings (criminal or civil) in respect of any acts done on
    Site;
    12.8.5. In any dispute, claim, action, demand or legal proceedings, if any, are between you and the Company;
    12.8.6. As part of a legal transfer of the Company’s operations to another corporation, including as part of a
    merger, acquisition of shares and/or assets of the Company;
    12.8.7. In any event that the Company considers that sharing Personal Information is necessary to prevent serious
    damage to your body or your property or the body or property of a third party.
    12.8.8. The Company may provide the Personal Information collected about you to third parties acting on behalf of or
    with the Company, such as authorized educational/school purposes, or as authorized by the student (or its parents or
    legal guardians, as applicable).
    12.9. Note, that the Company may use the Statistical Information or the Personal Information in an aggregate form,
    for the purpose of improving the Services, or to analyze and provide statistical information to staff training of
    the Company and/or the relevant account holder, i.e. the school or other educational authority to which you, as a
    student, might belong to.
    13. NATURE OF CONTENTS IN THE SITE/APPLICATION
    By using the Site and/or the Application and creating User Content, you shall bear full and sole responsibility for
    any consequence which is derived as a result of the publication of the User Content, and you shall not publish the
    following content:
    (a) Sexual, blunt, threatening, racist, or defamatory content.
    (b) Content that encourages criminal offenses or civil and/or that violates any law.
    (c) Privacy offensive content.
    (d) Harmful content and/or offensive to public feelings.
    (e) Content of a commercial nature and/or contain any advertising information.
    (f) Content that their intellectual property rights do not belong to you.
    (g) Content that contains computer viruses of any kind.
    (h) Content that is not relevant to the forum or blog where you operate.
    (i) Any information you know to be false, misleading or fraudulent.
    (j) Any content that identifies other people without their obtaining their prior consent to the publication of such
    content.
    (k) Any content with harassing, insulting, hostile, intimidating or rude character.
    (l) Every content that its access is blocked by a password, etc., and is not freely accessible to all Internet
    users.
    The Company reserves the right to inspect the User Content prior to the publication and/or distribution of such User
    Content and may, at its sole discretion, refuse to publish any User Content which breaches or may breach any of the
    above conditions and/or may damage the Company, the Site, the Application and/or any third party as well as the
    right to delete such Content at any time and for any reason. The foregoing does not impose any liability on the
    Company.
    In addition to User Content, the Site may also publish Third Party Content such as, studies and surveys. This Third
    Party Content is presented as a public service to the Users. Such Third Party Content does not express the opinions
    of the Company or the Company’s position and those publications provide no guarantee of validity, authenticity,
    accuracy or legality. The Company cannot guarantee to examine such Third Party Content prior to its publication.
    14. USE OF COOKIES LINKS (LINKS) AND REFERENCES
    14.1. “Cookie” is a text file that is transferred to the hard drive on your PC by the web server. In this Site,
    Cookies are used in order for the Site servers to identify you quickly and efficiently even when you return to visit
    the Site and to collect statistics about Site usage, verification of information and data security needs. The
    information found on the Cookie which the Company uses is encrypted so that only the Company can read and understand
    this information. By accepting these Terms of Use you authorize the Company to transplant Cookies on your computer,
    using the information stored on Cookies and identify you by it.
    14.2. If you do not wish to receive Cookies, you can avoid this by changing the settings in your browser. To do so,
    please consult your browser’s help file. Remember, however, that disabling the Cookies may prevent you from using
    some Services and features on the Site. In addition, you can delete the Cookies on your computer at any time. It is
    recommended that you do so only if you are sure you do not want the Site to be adjusted to your preferences.
    15. INDEMNIFICATION
    You agree to defend, indemnify and hold harmless Company and its employees, officers, managers or any of its
    representatives, from and against any and all claims, damages, obligations, losses, liabilities, costs and expenses
    (including but not limited to attorney’s fees and court fees) due to violation of these Terms of Use and/or any law
    violation by you and/or any claim and/or demand by any third party in connection with User Content.
    16. OPERATING SYSTEMS TERMS OF USE
    These Terms of Use are governed by the terms of use as published and updated from time to time by the three (3) main
    operating providers (Apple, Google and Microsoft).
    In the event of a conflict between the operating providers’ terms of use and these Terms of Use, the operating
    providers’ terms of use will prevail.
    17. MISCELLANEOUS
    The Company may without warning shut down the Site and/or the Application and to periodically change their
    structure, their appearance and the availability of Services and Company’s Content , without having to notify you in
    advance. You will not have any claim or demand against the Company in connection therewith.
    The Company shall be entitled, without warning to stop using the Site and/or the Application
    These Terms of Use are subject to the laws of the State of Israel and all disputes arising out of or in connection
    with these Terms of Use shall be exclusively settled by the competent courts of Tel Aviv – Jaffa.
    Last updated: September 2015
    YOU AGREE THAT ANY CAUSE OF ACTION THAT YOU MAY HAVE ARISING OUT OF OR RELATED TO THE SITE, THE APPLICATION OR THE
    SERVICES MUST COMMENCE WITHIN ONE (1) YEAR AFTER THE CAUSE OF ACTION ACCRUES. OTHERWISE AND TO THE EXTENT
    PERMISSIBLE UNDER APPLICALE LAW, SUCH CAUSE OF ACTION IS PERMANENTLY BARRED.
  </label>
  <footer class="footer">
    <button class="primary action-button" ng-click="closeThisDialog()" type="button">{{'close' | translate}}</button>
  </footer>
</div>
